<ion-content class="h-screen w-screen bg-lightPeach md:bg-white font-peachy px-4">
  <div class="flex items-center justify-center h-full w-full">
    <div class="w-full md:max-w-md md:bg-lightPeach md:rounded-2xl md:shadow-xl md:p-8 p-6 space-y-6 text-center">

      <div class="text-4xl text-lavender">Senna</div>
      <div>
        <h2 class="text-xl text-salmon font-semibold">Cambia tu contraseña</h2>
        <p class="text-md text-lavender">Recupera el acceso a tu cuenta</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isTokenValid" class="space-y-4 text-left">
        <div class="flex flex-col space-y-1">
          <input
            type="password"
            formControlName="newPassword"
            placeholder="Nueva contraseña"
            class="input bg-white text-peach"
            [ngClass]="{ 'border-red-500': form.get('newPassword')?.hasError('invalidPassword') }"
          />
          <p *ngIf="form.get('newPassword')?.hasError('invalidPassword')" class="error text-red-500">
            La contraseña debe tener una mayúscula, un número y un símbolo.
          </p>
        </div>

        <div class="flex flex-col space-y-1">
          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirmar contraseña"
            class="input bg-white text-peach"
            [ngClass]="{ 'border-red-500': form.errors?.['mismatch'] }"
          />
          <p *ngIf="form.errors?.['mismatch']" class="error text-red-500">
            Las contraseñas no coinciden.
          </p>
        </div>

        <button
          type="submit"
          [disabled]="form.invalid"
          class="w-full py-3 rounded-full bg-salmon text-white font-semibold hover:bg-coral transition"
        >
          Cambiar contraseña
        </button>
      </form>

      <div *ngIf="!isTokenValid" class="text-red-500 text-center mt-4">
        El enlace de recuperación no es válido o ha expirado.
      </div>
    </div>
  </div>
</ion-content>