<!-- Navbar de psicólogo -->
<app-psychologist-navbar></app-psychologist-navbar>

<!-- Cabecera: título + controles -->
  <h1 class="text-2xl font-bold bg-lightPeach justify-center text-center pt-4 text-salmon font-peachy">Agenda semanal</h1>

<!-- Contenido principal -->
<ion-content class="bg-lightPeach">
  <div class="p-4 max-w-screen-xl mx-auto">
    <div class="bg-white rounded-2xl p-4 shadow-lg border border-gray-200 overflow-hidden">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</ion-content>