<ion-content class="ion-padding bg-gray-100 flex items-center justify-center" fullscreen="true">
  <div class=" shadow-xl p-6 h-full w-full border border-gray-200 bg-white font-peachy">
    <!-- Encabezado -->
    <h2 class="text-2xl font-bold text-center text-peachy mb-4">
      Compromiso Profesional
    </h2>

    <!-- Texto -->
    <p class="text-gray-700 leading-relaxed mb-3">
      Como psicólogo inscrito en la plataforma <strong>Senna</strong>, te comprometes a actuar con respeto,
      confidencialidad, responsabilidad y de acuerdo a las directrices del
      <strong class="text-salmon">Código Deontológico del Consejo General de la Psicología de España</strong>.
    </p>
    <p class="text-gray-700 leading-relaxed mb-6">
      El incumplimiento puede conllevar sanciones, suspensión de cuenta o denuncia a las autoridades competentes.
    </p>

    <!-- Botón cerrar -->
    <div class="flex justify-center">
      <ion-button class="rounded-xl text-red-500 font-medium" (click)="dismissModal()">
        Cerrar
      </ion-button>
    </div>
  </div>
</ion-content>