<ion-content class="h-screen w-screen bg-lightPeach md:bg-white font-peachy px-4">
  <div class="flex items-center justify-center h-full w-full">
    <div class="w-full md:max-w-md md:bg-lightPeach md:rounded-2xl md:shadow-xl md:p-8 p-6 space-y-6 text-center">

      <div class="text-4xl text-lavender">Senna</div>
      <div>
        <h2 class="text-xl text-salmon font-peachy font-semibold">¿Olvidaste tu contraseña?</h2>
        <p class="text-md text-lavender">Te ayudamos a recuperarla</p>
      </div>

      <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="space-y-4 text-left">
        <div class="flex flex-col font-peachy space-y-1">
          <input
            type="email"
            formControlName="email"
            placeholder="Correo electrónico"
            class="input bg-white text-peach"
            [ngClass]="{ 'border-red-500': recoverForm.get('email')?.errors?.['invalidEmail'] }"
          />
          <p *ngIf="recoverForm.get('email')?.errors?.['invalidEmail']" class="error text-red-500">
            El formato del correo electrónico es inválido.
          </p>
        </div>

        <button
          type="submit"
          [disabled]="recoverForm.invalid"
          class="w-full py-3 rounded-full bg-salmon text-white font-semibold hover:bg-coral transition"
        >
          Enviar enlace de recuperación
        </button>
      </form>

      <p class="text-sm text-red-500 text-center mt-2" *ngIf="isSuccess === false">
        No hemos podido enviar el correo. Inténtalo más tarde.
      </p>

      <p class="text-sm text-green-600 text-center mt-2" *ngIf="isSuccess === true">
        Hemos enviado un correo para restablecer tu contraseña.
      </p>

      <p class="text-sm text-lavender mt-4">
        <a (click)="irALogin()" class="underline cursor-pointer">Volver al login</a>
      </p>
    </div>
  </div>
</ion-content>