<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="registerData.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="registerData.last_name" name="last_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="registerData.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="registerData.password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Registrarse</ion-button>
  </form>
  <ion-text color="medium">
    <p class="ion-text-center">
      ¿Eres profesional?
      <a routerLink="/register-psychologist">Regístrate aquí</a>
    </p>
  </ion-text>

  <ion-text color="danger" *ngIf="message">
    <p>{{ message }}</p>
  </ion-text>
</ion-content>