<ion-content class="bg-lightPeach font-peachy">
  <div class="p-4 space-y-6">
    <!-- Header -->
    <div class="text-center">
      <h2 class="text-2xl font-bold text-lavender">Hola de nuevo!</h2>
      <p class="text-sm text-salmon">{{ today | date: 'fullDate' }}</p>
    </div>

    <!-- Calendario semanal lunes-domingo -->
    <div class="grid grid-cols-7 gap-2 mb-6">
      <div
        *ngFor="let day of weekDays"
        class="flex flex-col items-center"
        [ngClass]="{
          'cursor-not-allowed opacity-50': isFuture(day),
          'cursor-pointer': !isFuture(day)
        }"
        (click)="canRegister(day) && openLogModal(day)"
      >
        <span class="text-xs text-gray-500 uppercase">{{ day | date: 'EEE' }}</span>

        <div
          class="w-10 h-10 rounded-full flex items-center justify-center font-semibold transition-colors duration-300"
          [ngClass]="{
            'bg-coral text-white': isRegistered(day),
            'bg-lavender text-white': !isToday(day) && isSelected(day) && !isRegistered(day),
            'bg-mint text-black': isToday(day) && !isRegistered(day),
            'bg-white text-gray-600 border': !isToday(day) && !isRegistered(day) && !isSelected(day)
          }"
        >
          {{ day.getDate() }}
        </div>
      </div>
    </div>

    <img
    src="../../../assets/images/image1.1.png"
    alt="Mood image"
    class="w-200 h-200 mx-auto"
  />
    <!-- Imagen + frase -->
    <div class="rounded-xl shadow p-4 text-center space-y-2 bg-white">
   
      <p class="text-peach text-lg font-semibold">
        {{ selectedDay | date: 'fullDate' }}
      </p>
      <p class="text-gray-600 text-sm">
        Registra tu día y cuida tu bienestar emocional.
      </p>
    </div>

    <!-- Botón fijo abajo -->
    <div class="fixed bottom-24 left-1/2 transform -translate-x-1/2">
      <div class="min-w-[120px] min-h-[48px] flex items-center justify-center">
        <ion-button
          class="bg-salmon text-white font-bold rounded-full text-lg px-6 py-2"
          (click)="openLogModal(selectedDay)"
        >
          Registrar mi día
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>